/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: Futura, sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.divider {
    margin: 3em auto;
    border-top: 1px solid lightgray;
    width: 40%;
}

h1 {
    font-style: italic;
    font-weight: bolder;
}

/* HEADER STYLES */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: .75em 20%;
    position: fixed;
    top: 0;
}

.header-logo {
    width: 15em;
}

.links {
    display: flex;
    column-gap: 1em;
    font-size: 12px;
}

.header a, .header a:visited, .header a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
}

.header a:hover {
    color: white;
}

#current {
    color: rgba(255, 255, 255, 1);
}

/* FOOTER STYLES */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    width: 100%;
    background-color: black;
    color: lightgray;
    font-size: 11px;
}

/************************************* PROJECTS STYLES BELOW *************************************/

/* REEL STYLES */
.reel {
    width: 100%;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
    align-items: center;
    background-color: black;
}

.reel h1 {
    color: white;
    text-align: center;
}

.reel-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
}

/* MUSIC VIDEO & CLIENT STYLES */
.music-vids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    row-gap: 2em;
}

.music-vids h1 {
    margin-top: 1.5em;
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3em;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5em;
    width: 30%;
    font-size: 12px;
}

.project-wrapper img {
    width: 100%;
}

.btn-wrap {
    box-sizing: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4em;
    background-color: rgb(27, 27, 27);
    padding: 3em 0%;
}

.about-btn {
    border: 2px solid lightgray;
    padding: .5em 1.5em;
    color: lightgray;
}

.about-btn:hover {
    color: white;
    font-weight: bold;
    border-color: white;
}

.footer-socials {
    display: flex;
    column-gap: 1.5em;
    margin-top: 1em;
}

.footer-socials a {
    color: lightgray;
}

.footer-socials a:hover {
    color: white;
}

#sub-footer {
    margin-top: 1.5em;
}

#client-header {
    margin-top: 0;
}

/************************************* ABOUT STYLES BELOW *************************************/
.hero {
    width: 100%;
    padding: 5em 0 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
    align-items: center;
    background-color: black;
}

.hero h1 {
    color: white;
}

.who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    padding: 0 20%;

}

.who p {
    padding: 0 10%;
    color: white;
    text-align: center;
    font-size: 18px;
}

.about-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.about-icons img {
    width: 3em;
    filter: invert(100%);
}

.about-icons img:hover {
    filter: none;
    border: 2px solid white;
    border-radius: 10px;
}

.who button {
    width: 12em;
    padding: 1em 0;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.who button:hover {
    background-color: white;
    color: black;
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
    padding: 0 15%;
    row-gap: 2em;
}

.client-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 2em;
}

.client-logos img {
    width: 15%;
    align-self: center;
}

.process {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 3em;
}

.all-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
    margin-bottom: 3em;
}

.process-card {
    width: 30%;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    row-gap: .5em;
}

.icon-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 3.5em;
}

.process img {
    width: 100%;
    height: auto;
}

.process p {
    width: 90%;
    font-size: 12px;
}

.team {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
    margin-bottom: 3em;
}

.all-photos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8.33%;
    row-gap: 2em;
    justify-content: center;
    align-items: flex-start;
}

.all-photos img {
    width: 100%;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.photo-wrapper span {
    text-align: center;
    font-size: 14px;
}

.team button {
    width: 12em;
    padding: 1em 0;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.team button:hover {
    background-color: black;
    color: white;
}

/*********** MEDIA DECLARATIONS ***********/
@media screen and (max-width: 850px) {
    .header {
        flex-direction: column;
        padding: .75 5%;
    }
    
    .header-logo {
        width: 75%;
        padding: 0;
    }

    .links {
        margin-top: 1.5em;
        width: 100%;
        justify-content: center;
    }

    .reel {
        margin-top: 3em;
        padding: 0 .5em;
    }

    .reel iframe {
        height: 12em;
    }

    .reel h1 {
        margin-top: 4em;
        font-size: 20px;
    }

    .reel-wrapper {
        width: 75%;
    }
    
    .music-vids {
        padding: 0 .5em;
    }

    .all-projects {
        row-gap: 1em;;
    }

    .project-wrapper {
        width: 50%;
        row-gap: .5em;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 4px solid white;
    }

    .project-wrapper span {
        font-size: 10px;
        line-height: 10px;
        text-align: center;
    }

    #small-text {
        font-size: 8px;
    }

    .hero {
        margin-top: 3em;
    }

    .who {
        padding: 0 .5em;
    }

    .clients h1 {
        text-align: center;
    }

    .client-logos {
        justify-content: center;
        column-gap: 20%;
    }

    .client-logos img {
        width: 40%;
    }

    .process h1 {
        text-align: center;
    }

    .all-process {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .process-card {
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }

    .team {
        padding: 0;
        margin: 0 0 3em 0;
    }


    .all-photos {
        align-items: flex-start;
        width: 100%;
        column-gap: 0;
        row-gap: .5em;
    }

    .photo-wrapper {
        width: 50%;
        border: 2px solid white;
    }

    .photo-wrapper img {
        width: 100%;
    }
}